<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <script>
        var a, b
        a = 10;
        b = 20;
        //异或  if(a ==b){

        //}
        console.log('a>>>' + a + '\nb>>>>' + b);
        a ^= b;
        console.log('a>>>' + a + '\nb>>>>' + b);
        // a>>>30
        // b>>>>20

        b = 20 ^ 10;
        console.log('a>>>' + a + '\nb>>>>' + b);

        a = a ^ b;
        console.log('a>>>' + a + '\nb>>>>' + b);
    </script>

</body>

</html>